/*===========================AJUSTES PADRÃO===========================*/

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

textarea {
    resize: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*===========================AJUSTES PROJETO===========================*/

header{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid #E6E7E8;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

nav{
    margin: 20px;
    position: fixed;
    right: 20px;
}

footer{
    background-color: #32323d;
    color: #E6E7E8;
}

h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2{
    color: #32323d;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}

h3{
    color: #0EA2C7;
}

h4{
    color: #32323d;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

h5{
    color: #32323d;
    font-size: 15px;
    margin-bottom: 10px;
}

h6{
    color: rgb(230, 230, 230);
}

/*===========================HEADER===========================*/
#logo-header{
    height: 60px;
    margin: 20px 20px 20px 40px;
    position: fixed;
    top: 0px;
}

.btn-princ{
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.btn-h-01{
    color: #121212;
    border: none;
}

.btn-h-01:hover{
    color: #121212;
    padding-bottom: 10px;
    border-bottom: 2px solid #0EA2C7;
}

.btn-h-02{
    color: #0EA2C7;
    border: 2px solid #0EA2C7;
    border-radius: 50px;
    padding: 10px 40px;
}

.btn-h-02:hover{
    color: #078AAB;
    border-color:#078AAB;
}

.btn-h-03{
    color: white;
    background-color: #0EA2C7;
    border: 2px solid #0EA2C7;
    border-radius: 50px;
    padding: 10px 40px;
}

.btn-h-03:hover{
    background-color: #078AAB;
    border-color:#078AAB;
}

/*===========================BANNER===========================*/

#sec-banner{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-banner{
    display: flex;
    align-items: center;
}

#img-banner{
    width: 700px;
    pointer-events: none;
}

#txt-banner{
    width: 300px;
    margin: 10px;
}

/*===========================FEATURE===========================*/

#sec-feature{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

#img-feature{
    height: 450px;
}

#textos-feacture{
    display: flex;
    align-items: top;
    justify-content: left;
}

.cat-feature{
    width: 250px;
    margin: 20px 40px 40px 0px;
}

/*===========================DEVICES===========================*/

#sec-devices{
    background-color: #0EA2C7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icons-devices{
    font-size: 80px;
    margin: 40px 20px;
    color: white;
}

.icon-dev{
    margin-right: 20px;
}

#txt-devices{
    width: 400px;
    margin: 40px;
}

.color{
    color: white;
}

/*===========================FORM===========================*/

#sec-forms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.ct-txt-form{
    width: 500px;
    background-color: none;
    border-bottom: 2px solid #E6E7E8;
    padding: 10px;
    margin: 20px 10px;
}

.cx-form{
    width: 480px;
    color: #32323d;
}

#txt-forms{
    width: 400px;
    margin-right: 50px;
}

.color2{
    color: #0EA2C7;
}

/*===========================FOOTER===========================*/

.color3{
    color: #E6E7E8;
}

.itens-footer{
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 40px 0px;
}

.itens-b-footer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #E6E7E8;
}

#logo-footer{
    width: 200px;
    margin-left: 48vh;
    margin-right: 48vh;
    margin-top: 10px;
}

.bloco-footer{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    margin: 0px 40px;
}

.btn-footer{
    color: #E6E7E8;
    font-size: 14px;
    padding: 20px 40px;
    border: 1px solid #E6E7E8;
    border-radius: 40px;
    margin: 20px;
}

.btn-footer:hover{
    background-color: #2c2c35;
}

/*===========================PAGINA DONWLOAD===========================*/

/*===========================CONTEUDO PRINCIPAL===========================*/
#sec-conteudo{
    padding-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0EA2C7;
    height: 700px;
    margin-bottom: 20px;
}

.color4{
    color: white;
}

#img-conteudo{
    width: 900px;
    padding-top: 10px;
}

.txt-conteudo{
    width: 800px;
    text-align: center;
}

.btn-h-04{
    color: #32323d;
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 40px;
}

.btn-h-04:hover{
    background-color: #eeeeee;
    border-color:#eeeeee;
}

/*===========================VANTAGENS===========================*/

#sec-vantagens{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-vantagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid #0EA2C7;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    color: #0EA2C7;
    font-size: 50px;
    margin: 20px;
}

.txt-item-vantagens{
    width: 230px;
}

#vantagens{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.color5{
    color: #32323d;
    margin: 40px;
}

.btn-h-05{
    color: white;
    background-color: #EF5466;
    border: 2px solid #EF5466;
    border-radius: 50px;
    padding: 10px 40px;
}

.btn-h-05:hover{
    background-color: #da4052;
    border-color:#da4052;
}

/*===========================BAIXAR===========================*/

#sec-baixar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0EA2C7;
    padding: 60px;
}

.btn-baixar{
    color: #E6E7E8;
    background-color: #2c2c35;
    font-size: 14px;
    padding: 20px 40px;
    border-radius: 40px;
    margin: 20px;
}

.btn-baixar:hover{
    background-color: #1c1c22;
}

/*===========================PAGINA LOGIN===========================*/

#sec-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../img/banner/background-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#logo-login{
    width: 200px;
    margin: 40px;
}

.color6{
    color: #EF5466;
}

.btn-h-06{
    color: white;
    background-color: #EF5466;
    border: 2px solid #EF5466;
    border-radius: 50px;
    width: 500px;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.btn-h-06:hover{
    background-color: #da4052;
    border-color:#da4052;
}

.btn-secund-2{
    color: #EF5466;
    text-decoration: underline;
    font-size: 14px;
}

.cx-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    margin-bottom: 40px;
}

.info-form{
    margin-top: 40px;
    width: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.color1{
    color: #32323d;
}

.cx-inscreva{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 600px;
    height: 700px;
    margin-bottom: 40px;
}

/*===========================PAGINA SOBRE===========================*/

#sec-banner-sobre{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../img/banner/background-login.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    text-align: center;
    margin: 40px;
}

#imagem-sobre{
    width: 100%;
    margin-top: 40px;
}

/*===========================PORQUE MUSIC NC===========================*/

#sec-conteudo-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-conteudo-sobre{
    width: 500px;
    text-align: center;
    margin: 40px;
}

.txt-conteudo-sobre{
    width: 350px;
    margin: 20px;
}

.bl-conteudo-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*===========================ESCUTE OFFLINE===========================*/

#sec-ouca-offline{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-sec-sobre{
    height: 800px;
}

.esp-esq{
    margin: 20px 10px;
}

.esp-botom{
    margin-bottom: 60px;
}

/*===========================ALBUM===========================*/

#imagem-album{
    width: 80%;
}

#all-img-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*===========================PLAYLIST===========================*/

#sec-playlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

#size-playlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    text-align: center;
}

/*===========================LETRA===========================*/

#sec-letra{
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-letras{
    width: 350px;
    margin: 20px;
    text-align: right;
}

/*===========================FAQ===========================*/

#sec-faq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 80px 0 40px 0;
}


/*===========================PÁGINA SOBRE===========================*/

#sec-banner-contribua{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/banner/background-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

#banner-contribua{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    text-align: left;
    margin: 40px;
}

#box-contribua{
    width: 550px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

#formas-pagamento{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pix{
    width: 250px;
    margin: 0 30px;
}

.box-forma-pagamento{
    background-color: #32323d;
    margin: 20px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-pagamento-pix{
    width: 250px;
    background-color: #2c2c35;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
}

#box-pix{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.obs{
    margin: 40px 0 15px 20px;
    width: 150px;
}

.icon-pagamento{
    width: 110px;
}

